body {
    background-color: white;
    font-family: Arial, sans-serif;
}

h2, p, footer {
    text-align: center;
}

.word {
    background-color: white;
    color: black;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform-origin: center;
}

#poetry-board {
    position: relative;
    margin: 0 auto;
    width: 500px; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
    border: 1px solid #ccc;
    background-color: #303030;
}

#button-container {
    text-align: center;
    margin-top: 10px;
}

#download-btn, #new-words-btn {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

#download-btn:hover, #new-words-btn:hover {
    background-color: #45a049;
}
